<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d %p %c{100} - %m%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="stdout"/>
    </root>

</configuration>
